{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/fbef496062.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg c_nav">
        <div class="container">
            <div class="custom_logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/batman_logo_5.png' %}" alt="logo">
                </a>
            </div>
            <button class="navbar-toggler pikachu" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon pikachu">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto ">
                    <li class="nav-item c_li">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown c_li">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'AllCourse' %}">View All Courses</a></li>
                            <li><a class="dropdown-item" href="{% url 'mycourse' %}">My Course</a></li>
                        </ul>
                    </li>

                    <li class="nav-item c_li">
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Assignment</a>
                    </li>
                    <li class="nav-item c_li">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item c_li">
                        <a class="nav-link" href="#">Feedback</a>
                    </li>
                    <li class="nav-item dropdown c_li">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Attendance
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="rl d-flex align-items-center">
                    {% if request.user.is_authenticated %}
                    <div class="notification">
                        <i class="fa-regular fa-bell me-2"></i>
                    </div>
                    <!-- User Dropdown -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button"
                            id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- Profile Picture or First Letter -->
                            {% if request.user.profile.picture %}
                            <img src="{{ request.user.profile.picture.url }}" alt="Profile Picture"
                                class="rounded-circle me-2" style="width: 30px; height: 30px; object-fit: cover;">
                            {% else %}
                            <span
                                class="bg-primary text-white rounded-circle d-flex justify-content-center align-items-center me-2"
                                style="width: 30px; height: 30px; font-size: 1rem;">
                                {{ request.user.username|slice:":1"|upper }}
                            </span>
                            {% endif %}
                            {{ request.user.username }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <!-- Full Name in Dropdown -->
                            <li><a class="dropdown-item" href="{% url 'profile' %}">
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                </a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a href="/login/" class="btn btn-primary" type="submit">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block start %}
    {% endblock %}
    <footer class="bg-body-tertiary text-center" style="background-color: rgba(0, 0, 0, 0.05);">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
                    href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #55acee;"
                    href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"
                    href="#!" role="button"><i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
                    href="#!" role="button"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
                    href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a data-mdb-ripple-init class="btn text-white btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <div class="copyR">
                © Copyright Robbeed: All right Reserved
            </div>
            <div class="credit mt-3">
                <p>Designed by <span>Prakash Gurung</span></p>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>


</html>